.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 5px 5px 30px rgba(192, 192, 192, 0.36) -5px -5px 30px
    rgba(192, 192, 192, 0.36);

  border-radius: 5px;
}
