.page{
    min-height: 80vh;
    padding: 2rem;
    text-align: center;
}

.container{
    border-radius: 1rem;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem 1rem 2rem 1rem;
    background-color: rgb(223, 223, 223);
}

.subContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Rubik", sans-serif;
    border: 1px solid gray;
    background-color: white;
    width: 90%;
    padding: 2rem;
}
.data span{
    width: fit-content;
}
.icoOpen{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    transform: rotate(-90deg);
}
.icoClose{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    transform: rotate(90deg);
}

.items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(187, 187, 187);
    width: 90%;
    padding: 2rem;
    margin-bottom: 1rem;
    gap: 4rem;
    place-items: center;
    border-radius: 0 0 1rem 1rem;
}

.message{
    border: 1px solid rgb(124, 124, 124);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    padding: 2rem;
    font-family: "Rubik", sans-serif;
}

.message h2{
    font-size: 3rem;
}

.message span{
    font-size: xx-large;
}