.container{
 
   height: 20vw;
  width: 15.5vw;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.253);
  justify-content: space-between;

}
.sectionLinks{

  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  border-radius: 10%;
}

.containerImg{
    height: 9vw;

    border-radius: 10%;
    
}
.containerImg img{
    width: 100%;
    height: 115%;

    border-radius: 10% 10% 0 0;
}
.dataSection{
    margin-left: .3vw;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column ;
    align-content: center;
    text-align: center;
    justify-content: space-evenly;
    
    height: 7.5vw;
    width: 14.5vw;
    position: absolute;
    margin-top: 10%;

}

.dataSection span{

   
}
.sectionLinks {
display: flex;
flex-direction: row;
justify-content: space-evenly;

}

.sectionLinks a{

}