.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../Login/image/fondoMadera.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 100vw;
  height: auto;

  padding: 5% 0;
}

.form {
  display: flex;
  align-items: center;
  position: relative;

  width: 60vw;
  height: 500px;

  background: rgba(16, 16, 16, 0.8);
  border-radius: 5px;
}

.prev {
  min-height: 500px;
  display: flex;
  align-items: center;
}
.form > div > img {
  width: 350px;
  height: 500px;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  filter: brightness(0.6);
  object-fit: cover;
}

.infoContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.divi {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  padding-left: 120px;
  color: #f5f5f5;
  margin: 0px;
}

.divi > h2 {
  margin: 0px 0px 10px 6px;
}

.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;

  padding: 0 1em;
  width: 60%;
}

.col .col1 {
  display: flex;
  flex-direction: column;
  margin: 0px 12px;
}

.col .col1 > input {
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  background-color: transparent;
  width: 190px;
  height: 37px;
  margin-top: 5px;
  color: #f5f5f5;
}

.col .col1 > label {
  color: #f5f5f5;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.crear {
  padding-left: 200px;
  margin-top: 10px;
}

.crear > button {
  background-color: rgba(252, 172, 3, 1);
  font-size: 20px;
  color: white;
  border: none;

  border-radius: 5px;
  padding: 5px 15px;
  font-weight: bold;
}

.col .col1 .errorText {
  max-width: 329px;
  color: rgb(247, 116, 116);
  font-size: 13px;
}

.errorInput {
  border: 2px rgb(247, 116, 116) solid !important;
}

/*button style*/

.contentfile {
  position: relative;
  background-color: transparent;
  border: 1px solid #f5f5f5;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  margin-left: 160px;
  margin-top: 10px;
}

.contentfile > p {
  color: #f5f5f5;
  margin: 0px;
  padding-top: 10px;
  text-align: center;
}

.inputfile {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
