.container {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 100vw;
  height: auto;

  padding: 5% 0;
}

.form {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;

  width: 70vw;
  height: 600px;

  border-radius: 35px;
  box-shadow: 10px 10px 30px rgba(133, 133, 133, 0.255),
    -3px -3px 20px rgba(133, 133, 133, 0.255);
  border-radius: 30px;
}

.form > div {
  min-height: 600px;
}
.form > div > img {
  width: 350px;
  height: 600px;

  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;

  filter: brightness(0.6);

  object-fit: cover;
}

.infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 2em;

  width: 100%;
  height: 100%;
}

.infoContainer > h2 {
  font-family: "Rubik Dirt", cursive;
  font-weight: 600;
}

.infoContainer > input {
  width: 55%;
  height: 30px;
  border-radius: 5px;
  border: none;

  padding: 0 1em;

  background-color: rgba(217, 217, 217, 1);
}

.centerTextImg {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);

  font-family: "Rubik Dirt", cursive;
  color: white;
  font-weight: 300;

  font-size: 36px;
}

.infoContainer > button {
  background-color: rgba(252, 172, 3, 1);
  font-size: 20px;
  color: white;
  border: none;

  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 900;
}
